<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">
<h2>Lista de Jobs</h2>
<a class="btn btn-primary mt-4 mb-4" href="@{/job/new}">Nuevo Transportista</a>
<form method="post" th:action="@{/job/buscarsalario}">
    <input name="searchField" class="form-control mb-3" type="text" placeholder="Search" aria-label="Search">
</form>

<table class="table table-sm">
    <tr>
        <th>Nombre del trabajo</th>
        <th>Rango de salarios</th>
    </tr>
    <tr th:each="job, info : ${jobList}">
        <td th:text="${job.job_title}"></td>
        <td th:text="${job.min_salary} + 'a' + ${job.max_salary}"></td>
        <td><a class="btn btn-primary" th:href="@{/job/list}">Regresar a lista completa</a></td>
        <td><a class="btn btn-primary" th:href="@{'/job/editar' + '?id=' + ${job.job_id}}">Editar</a>
        </td>
        <td><a class="btn btn-danger" th:href="@{'/job/borrar' + '?id=' + ${job.job_id}}">Borrar</a>
        </td>
    </tr>
</table>
</body>
</html>

