<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Trabajo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">
<h2>Nuevo Job</h2><hr />
<form method="post" th:action="@{'/job/guardar'}">
    <div class="form-group">
        <label for="job_title">Nombre</label>
        <input name="job_title" type="text" class="form-control" id="job_title">
    </div>
    <div class="form-group">
        <label for="min_salary">Salario minimo</label>
        <input name="min_salary" type="text" class="form-control" id="min_salary">
    </div>
    <div class="form-group">
        <label for="max_salary">Salario maximo</label>
        <input name="max_salary" type="text" class="form-control" id="max_salary">
    </div>
    <div class="form-group">
        <label for="department_name">Departamento</label>
        <input name="department_name" type="text" class="form-control" id="department_name">
    </div>
    <a th:href="@{'/job/list'}" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</body>
</html>
